

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>






<section
		class="bannerqp d-flex justify-content-center align-item-center">
		
		<div class="text-center">

			<h1 class="font-weight-light mt-5">Here all Courses of every
				Semester</h1>
			<h2 class="text-secondary font-italic font-weight-light">All
				Semester Tutorials are essential for exam</h2>
				<div class="container-fluid">
				<div class="row mt-3 mx-2">
           <div class="col-md-8">
			<p class="bg-secondary font-italic px-4 py-2" >
				India has the largest numbers of engineers as well as the largest
				number of engineering education institutes and infrastructure in the
				world.[citation needed] As of 2021, India annually produces 1.5
				million engineering graduates.[1] India's technical education
				infrastructure includes 2500 engineering colleges, 1400 polytechnics
				and 200 schools of planning and architecture.[1] IIT Delhi - A
				prominent engineering institute in India Of the hundred thousands
				engineering graduates produced every year, less than 5% of the
				engineers are produced by the pan-India national level autonomous
				institutes created by the acts of parliament, such as the Indian
				Institutes of Technology (IITs), National Institutes of Technology
				(NITs) and Indian Institutes of Information Technology (IIITs)
				[citation needed],a little over 5% are produced by state level
				autonomous institutes and unitary universities approved by UGC. The
				remaining over 90% of the engineering graduates are produced by the
				private and non-autonomous state level engineering education
				institutes which must obtain the approval from the regulatory
				authority All India Council for Technical Education (AICTE) to run
				such courses before they start admitting students.[1] Most common
				engineering branches in Undergraduate are Computer science and
				engineering, Electronics and Communication engineering, Electrical
				and electronic engineering, Mechanical engineering, Civil
				engineering and Chemical engineering.[2][3] History There is long
				history of science and technology in the Indian subcontinent.
				
				</p>
				
				</div>
				
				<div class="col-md-4 mt-3">
				<div class="card">
				
				<div class="card-header">
				<h4 class="bg-secondary">Tutorial Links</h4>
				</div>
				<div class="card-body">
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 1 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 2 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 3 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 4 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 5 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 6 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 7 Tutorial</a>
				</div>
				<div>
				<a  href="https://www.youtube.com/watch?v=secTkIoOyXU&list=PLUwI7zx-CMG3c4om5dfUdxZdPAr4oqyXe&index=1&pp=iAQB">Semester 8 Tutorial</a>
				</div>
				
				</div>
				</div>
				</div>
				
				
				
				</div>
                </div>

				<button class="btn btn-lg text-white mt-3"><a th:href="@{/}">Go to
					Back</a></button>
		</div>




	</section>
</body>
</html>