<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-item-center">
		
		<div class="text-center">
              <div class="card col-md-6 offset-md-3 mt-5 bg-navy">
              
              <div class="card-header">
			<h2 class="font-weight-light mt-2 font-italic ">@About to IITIANS Group</h2>
			</div>
		
			<h4 class="bg-white text-black  font-weight-light py-2"> Here We Provide
				Paper and Courses.It is amaging</h4>
				
				</div>
			 <div class="row">
			<div class="col-md-6 offset-md-3 mt-5 font-italic bg-black">
				<p class="px-5 py-4">Dr. A.P.J. Abdul Kalam Technical University (AKTU), before
					2015 known as the Uttar Pradesh Technical University (UPTU), is a
					public collegiate university in Lucknow, Uttar Pradesh, India. It
					was established as the Uttar Pradesh Technical University through
					the Government of Uttar Pradesh on 8 May 2000. To reduce workload
					and to ensure proper management, the university was bifurcated into
					separate universities, Gautam Buddh Technical University (GBTU) and
					Mahamaya Technical University (MTU), with effect from 1 May
					2010.[2] In 2013, as a new government came into power, the
					university was formed again by combining the two on 5 January
					2013.[3] It is an affiliating university, with approximately 800
					colleges affiliated to it.[4] The university was earlier on the IET
					Lucknow campus. Now it is in its newly inaugurated campus in
					Jankipuram, Lucknow. Additionally, the university had a Centre and
					Regional Office in Noida, Uttar Pradesh.</p>
			</div>
			</div>

			<button class="btn btn-lg text-white mt-3">
				<a th:href="@{/about}">About</a>
			</button>





		</div>


	</section>
	<section
		class="bannera d-flex justify-content-center align-item-center">
		
		<div class="text-center">
            <div class="card col-md-6 offset-md-3 mt-5">
            
            <div class="card-header ">
			<h2 class="font-weight-bold text-secondary ">Here all Semester Papers</h2>
			
			</div>
			
			<h4 class="text-secondary font-italic font-weight-light">Papers
				practice are very important for clear any exam</h4>
				
				
				</div>
				
				 <div class="row">
			<div class="col-md-6 offset-md-3 mt-5 bg-black">
			<p class="px-5 py-3">Bachelor of Technology (B.Tech.) degree in India is an
				undergraduate academic degree conferred after the completion of a
				four-year full-time engineering program from All India Council for
				Technical Education recognised institute.[citation needed] The
				B.Tech. degree is generally awarded by Indian Institutes of
				Technology (IITs), National Institutes of Technology (NITs) (India),
				Indian Institutes of Information Technology (IIITs), Government
				Funded Technical Institutes (GFTIs) or other Centrally Funded
				Technical Institutes (CFTIs) and private deemed universities in
				various engineering disciplines such as Civil Engineering, Chemical
				Engineering, Mechanical Engineering, Electrical Engineering,
				Computer Science and Engineering, Electronics and Communication
				Engineering, Cyber Security and many more. This degree is generally
				equivalent to a Bachelor of Engineering offered in other Affiliated
				Engineering colleges of State Collegiate universities or a Bachelor
				of Science in Engineering or Bachelor of Engineering in the United
				States and Europe.</p>
				
				</div>
				</div>

			<button class="btn btn-lg text-white mt-3">
				<a th:href="@{/question}">Question Papers</a>
			</button>
		</div>


	</section>

	<section
		class="bannerqp d-flex justify-content-center align-item-center">
		
		<div class="text-center">
             <div class="card col-md-6 offset-md-3 mt-5">
             
             <div class="card-header">
			<h2 class="font-weight-bold text-secondary mt-2">Here all Courses of every
				Semester</h2>
				</div>
				
				
			<h4 class="text-secondary font-italic font-weight-light">All
				Semester Tutorials are essential for exam</h4>
				
				
				</div>
           <div class="row">
			<div class="col-md-6 offset-md-3 mt-5">
			<p>
				India has the largest numbers of engineers as well as the largest
				number of engineering education institutes and infrastructure in the
				world.[citation needed] As of 2021, India annually produces 1.5
				million engineering graduates.[1] India's technical education
				infrastructure includes 2500 engineering colleges, 1400 polytechnics
				and 200 schools of planning and architecture.[1] IIT Delhi - A
				prominent engineering institute in India Of the hundred thousands
				engineering graduates produced every year, less than 5% of the
				engineers are produced by the pan-India national level autonomous
				institutes created by the acts of parliament, such as the Indian
				Institutes of Technology (IITs), National Institutes of Technology
				(NITs) and Indian Institutes of Information Technology (IIITs)
				[citation needed],a little over 5% are produced by state level
				autonomous institutes and unitary universities approved by UGC.
				</p>
              </div>
              </div>

				<button class="btn  btn-lg text-white mt-3"><a th:href="@{/courses}">Go to
					Courses</a></button>
		</div>




	</section>
	
	
	<section
		class="bannercd d-flex justify-content-center align-item-center">
		
		<div class="text-center">
             <div class="card col-md-6 offset-md-3 mt-5">
             <div class="card-header">
			<h4 class="font-weight-bold text-secondary mt-2">Here We also Provide Coding Platforms
				for code</h4>
				
				</div>
			<h4 class="text-secondary font-italic font-weight-light">Platforms are essential for code</h4>
			</div>
           <div class="row">
			<div class="col-md-6 offset-md-3 mt-5">
			<p>
				India has the largest numbers of engineers as well as the largest
				number of engineering education institutes and infrastructure in the
				world.[citation needed] As of 2021, India annually produces 1.5
				million engineering graduates.[1] India's technical education
				infrastructure includes 2500 engineering colleges, 1400 polytechnics
				and 200 schools of planning and architecture.[1] IIT Delhi - A
				prominent engineering institute in India Of the hundred thousands
				engineering graduates produced every year, less than 5% of the
				engineers are produced by the pan-India national level autonomous
				institutes created by the acts of parliament, such as the Indian
				Institutes of Technology (IITs), National Institutes of Technology
				(NITs) and Indian Institutes of Information Technology (IIITs)
				[citation needed],a little over 5% are produced by state level
				autonomous institutes and unitary universities approved by UGC.
				</p>
              </div>
              </div>

				<button class="btn  btn-lg text-white mt-3"><a th:href="@{/coding}">Go to
					Coding Platforms</a></button>
		</div>




	</section>
</body>
</html>