<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-item-center">

<div class="text-center">

<h1 class="font-weight-light mt-5">Semester 1 Papers</h1>
<p  class="font-italic">This for Engineers which is pursue in B.tech from AKTU.
Here We Provide Paper and Courses.It is amaging</p>


<button class="btn text-white mt-3"><a href="/img1/ENGINEERING-PHYSICS-KAS-101T-1.pdf">Physics</a></button>
<button class="btn text-white mt-3 ml-3"><a href="/img1/ENGINEERING-MATHEMATICS-I-KAS-103T-1.pdf">Mathematics 1</a></button><br>
<button class="btn text-white mt-3"><a  href="/img1/PROGRAMMING-FOR-PROBLEM-SOLVING-KCS-101T-1.pdf">Programing for Problem Solving</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="/img/BASIC-ELECTRICAL-ENGG.-KEE-101.pdf">Electrical</a></button><br>

<button class="btn text-white mt-3 ml-3"><a href="/img1/AI-FOR-ENGINEERING-KMC101.pdf">Artifical Intelligence</a></button><br>




<button class="btn btn-lg text-white mt-3"><a  th:href="@{/question}">Back</a></button>





</div>

  
  </section>
  
</body>
</html>