<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-item-center">

<div class="text-center">

<h1 class="font-weight-bold mt-5">Semester 5 Papers</h1>
<p >This for Engineers which is pursue in B.tech from AKTU.
Here We Provide Paper and Courses.It is amaging</p>


<button class="btn text-white mt-3"><a  href="/img1/sem5/DBMS.pdf">Database Management System</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="/img1/sem5/DAA.pdf">Data Structure and Algorithm</a></button><br>
<button class="btn text-white mt-3"><a  href="/img1/sem5/Machine Learning.pdf">Machine Learning</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="/img1/sem5/CD.pdf">Compiler Design</a></button><br>
<button class="btn text-white mt-3"><a  href="/img1/sem5/Da.pdf">Data Analytics</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="/img1/sem5/OOPS.pdf">Object Oriented Programings</a></button><br>




<button class="btn btn-lg text-white mt-3"><a  th:href="@{/question}">Back</a></button>





</div>

  
  </section>
  
</body>
</html>