<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-item-center">

<div class="text-center">

<h1 class="font-weight-bold mt-5">Welcome to IITIANS Group</h1>
<p >This for Engineers which is pursue in B.tech from AKTU.
Here We Provide Paper and Courses.It is amaging</p>


<button class="btn text-white mt-3"><a  href="#">Physics</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="#">Mathematics 1</a></button><br>
<button class="btn text-white mt-3"><a  href="#">Chemestry</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="#">Electrical</a></button><br>
<button class="btn text-white mt-3"><a  href="#">Mechanical</a></button>
<button class="btn text-white mt-3 ml-3"><a  href="#">Artifical Intelligence</a></button><br>




<button class="btn btn-lg text-white mt-3"><a  th:href="@{/question}">Back</a></button>





</div>

  
  </section>
  
</body>
</html>